<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/watches}">⌚ Watch Store</a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/watches}">Sản phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/cart/view}">Giỏ hàng</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li th:if="${#authentication.authenticated}" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-bs-toggle="dropdown">
              <span th:text="${#authentication.name}">Tài khoản</span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" th:href="@{/order/history}">Lịch sử mua hàng</a></li>
              <li><a class="dropdown-item" th:href="@{/customer/profile}">Thông tin cá nhân</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" th:href="@{/logout}">Đăng xuất</a></li>
            </ul>
          </li>
          <li th:unless="${#authentication.authenticated}" class="nav-item">
            <a class="nav-link" th:href="@{/login}">Đăng nhập</a>
          </li>
          <li th:unless="${#authentication.authenticated}" class="nav-item">
            <a class="nav-link" th:href="@{/register}">Đăng ký</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
