<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quản lý sản phẩm</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h2>Bạn có chắc muốn xoá sản phẩm này?</h2>
<p><strong>Tên:</strong> <span th:text="${product.name}"></span></p>
<p><strong>Giá:</strong> <span th:text="${product.price}"></span></p>
<form th:action="@{/products/delete}" th:object="${product}" method="post">
  <input type="hidden" th:field="*{id}">
  <button type="submit">Xoá</button>
</form>
<a th:href="@{/products}">Quay lại</a>

</body>
</html>
