<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
</head>
<body>
<h1>Customer Details</h1>

<table>
    <tr>
        <th>First Name</th>
        <td th:text="${customer.firstName}"></td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td th:text="${customer.lastName}"></td>
    </tr>
    <tr>
        <th>Age</th>
        <td th:text="${customer.age}"></td>
    </tr>
    <tr>
        <th>Address</th>
        <td th:text="${customer.address}"></td>
    </tr>
</table>

<a th:href="@{/customers}">Back to Customer List</a>
</body>
</html>
