<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${user}" th:action="@{/validate_user}" method="post">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" th:field="*{username}"/></td>
            <td style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}"/></td>
            <td style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="number" th:field="*{age}"/></td>
            <td style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>