<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title th:text="#{customer.update.title}">Update Customer</title>
</head>
<body>
<h3 th:text="#{customer.update.heading}">Update Customer</h3>
<p>
  <a th:href="@{/customers}" th:text="#{customer.link.back}">Back to customer list</a>
</p>
<div id="form">
  <form th:action="@{/customers/update/{id}(id=${customer.id})}" th:object="${customer}" method="POST" novalidate="novalidate">
    <div>
      <label for="firstname" th:text="#{customer.firstname}">FirstName</label>
      <input type="text" id="firstname" th:field="*{firstName}"/>
    </div>
    <div>
      <label for="lastname" th:text="#{customer.lastname}">LastName</label>
      <input type="text" id="lastname" th:field="*{lastName}"/>
    </div>
    <div>
      <label for="province" th:text="#{customer.province}">Province</label>
      <select id="province" th:field="*{province}">
        <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
      </select>
    </div>
    <input type="submit" th:value="#{customer.button.edit}" value="Edit"/>
  </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
